@import 'variables.less';

@tailwind base;
@tailwind components;
@tailwind utilities;

// Roboto font is required for MUI. In addition Roboto is used as the main font for all text.
//roboto font has been imported into the main index.html file via cdn
.roboto-regular {
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-bold {
    font-family: 'Roboto', serif;
    font-weight: 700;
    font-style: normal;
}

// background colours
.brand-bg-1 {
    background: @brand-primary-1;
}

//black
.brand-bg-2 {
    background: @brand-primary-20;
}

//lush green
.brand-bg-3 {
    background: @brand-primary-3;
}

.bg-grey-1 {
    background: @brand-primary-4;
}

// text colours
.brand-text-1 {
    color: @brand-primary-1;
}

//black
.brand-text-2 {
    color: @brand-primary-20;
}

.brand-text-3 {
    color: @brand-primary-gold;
}

//dark grey
.brand-text-4 {
    color: @brand-primary-19;
}

//almost black
.brand-text-5 {
    color: @brand-primary-18;
}

// added styles to disable horizontal overflow
html,
body {
    overflow-x: hidden;
    background: @brand-primary-1;
}
